.colorContainer { 
    display: flex; 
    flex-direction: column; 
    gap: 0.5rem;
 }
.colorOptions { 
    display: flex;
     gap: 0.5rem; 
    }
.colorButton {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #ccc;
  cursor: pointer;
  transition: all 0.3s;
}
.colorButton:hover {
     border-color:  #007bff; 
    }
.activeColor { 
    border: 2px solid black; 
    background-color: black;
}
