.galleryContainer { 
    display: flex;
     flex-direction: column;
      gap: 1rem;
       align-items: center; 
    }

.mainImageContainer {
     width: 100%;
      max-width: 400px;
       transition: opacity 0.3s ease; 
    }
.fade { 
    opacity: 0.5; 
}

.mainImage {
    width: 100%;
     border-radius: 10px; 
     object-fit: cover;
      box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
    }

.thumbnailContainer {
    display: flex;
    gap: 0.5rem; 
    overflow-x: auto; 
}

.thumbnail { 
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    border: 2px solid transparent; 
    transition: border 0.3s; 
}

.thumbnail:hover {
     border: 2px solid #007bff;
     }

.activeThumbnail { 
    border: 2px solid #007bff; 
}
